.swiperSlide {  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationBullet {
    width: 16px;
    height: 16px;
    background-color: var(--chakra-colors-yellow-700);
}


@media (max-width: 450px) {
    .paginationBullet {
        width: 8px;
        height: 8px;
    }
}